# binaries
asm/*
build/*
lib/*
obj/*
*.a

# build
*.ninja*
compile_commands.json
objdiff.json
build.ninja
.ninja_deps
.ninja_log
.ninja_lock

# uh
*.bat
*.lnk
*.exe
*.a
*.elf
*.dol
*.map
*.o

# cache
.cache/
__pycache__/
tools/__pycache__/
tools/ar/__pycache__/

# logs
*.log

# koop
.private/

# orig Disc images
*.iso
*.wbfs
*.rvz
*.wia
*.cios
*.nfs
*.gcz
*.tgc