.cache/
.private/*
.vscode/*
__pycache__/*
orig/*
asm/*
build/*
lib/*
obj/*
*.a
tools/__pycache__/*
tools/ar/__pycache__/*
*.ninja*
compile_commands.json
objdiff.json
configureold.py
*.lnk
*.zip
*.bat